MONGODB_DATABASE_URL=mongodb://username:password@ipMongoDB:port/databasename?retryWrites=true&w=majority
MONGODB_DATABASE_URL_TESTING=mongodb://username:password@ipMongoDB:port/databasename

SERVICE_REGISTRY_HOST=localhost
SERVICE_REGISTRY_PORT=3777